#placeholder {
    position: absolute;
    margin: 200px 0 0 200px;
    width: calc(100vw - 200px);
}

    #placeholder > #content_upHome {
        margin: auto;
    }


#content_upHome > .table {
    float: left;
    width: 63px;
    height: 63px;
    margin: 10px;
    border: 1px solid rgba(0, 0, 0, 0.20);
    border-radius: 10px;
}

    #content_upHome > .table > span {
        line-height: 63px;
        font-size: 2em;
        display: block;
        color: #000000;
    }
