* {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

body {
    margin: 0;
    overflow-x: hidden;
    overflow-y: scroll;
}

#header {
    width: 100vw;
    height: 100px;
    background-color: #202428;
}

#logo {
    display: inline-block;
    height: 50px;
    padding: 25px 0 25px 25px;
    text-decoration: none;
    font-size: 2em;
    color: #fefefe;
}

#login {
    color: #fefefe;
    height: 80px;
    float: right;
    margin: 10px 20px 0 0;
}

    #login td {
        width: 170px;
        line-height: normal;
    }

    #login tr:nth-of-type(1) {
        font-size: 0.9rem;
    }

    #login tr:nth-of-type(3) {
        font-size: 0.8rem;
    }

#register {
    position: absolute;
    width: 30vw;
    height: calc(100vh - 100px);
    top: 100px;
    right: 0px;
    background-color: #282D32;
}

#lblRegister {
    margin-top: 20px;
    font-size: 2rem;
    color: #fefefe;
    text-align: center;
}

.register-input {
    margin: 0px auto 10px;
    display: block;
    width: 200px;
    height: 30px;
    border-radius: 3px;
    border: none;
    padding-left: 10px;
}

#btnRegister {
    margin: auto;
    display: block;
}

.inputButton {
    width: 100px;
    height: 30px;
    background-color: #007ACC;
    color: #fefefe;
    border: none;
    border-radius: 10px;
}

    .inputButton:hover {
        background-color: inherit;
        border: solid;
        border-color: #007ACC;
        border-width: 1px;
        cursor: pointer;
    }
