* {
    font-family: 'Roboto', sans-serif;
    color: #FEFEFE;
    margin: 0px;
    padding: 0px;
}

body {
    margin: 0px;
    padding: 0;
    background-color: #FEFEFE;
    overflow: scroll;
}

#wrapper {
    min-width: 100vw;
    min-height: 100%;
    position: relative;
}

main {
    position: fixed;
    background-image: url('../images/login/cover.jpg');
    min-width: 100vw;
    min-height: 100%;
}

.header {
    position: fixed;
    background-color: #3D434F;
    width: 100%;
    height: 50px;
    box-shadow: 0 0 6px 0 black;
    z-index: 3;
    text-align: initial;
}

    .header > a {
        text-decoration: none;
        line-height: 50px;
        font-size: 1.5em;
        width: 150px;
        display: inline-block;
    }

#container {
    background-color: #FEFEFE;
    position: absolute;
    width: 400px;
    height: 300px;
    margin-top: 300px;
    margin-left: calc(50vw - 200px);
    box-shadow: 0 0 6px 0 black;
    border-radius: 20px;
}

#login {
    position: absolute;
    height: 100px;
    margin-top: 20px;
    margin-left: 75px;
}

    #login > .inputText {
        display: block;
        width: 220px;
        padding: 4px;
        margin: 10px;
        outline: 0;
        color: #72B0D4;
        background-color: #fff;
        border: 1px solid #e1e8ed;
        border-radius: 3px;
    }

    #login > #tbCompanyPassword {
        width: 140px;
        display: inline-block;
    }

    #login > #btnLogin {
        width: 65px;
        padding: 4px;
        background-color: #72B1D4;
        display: inline-block;
        margin: 0;
        border: 1px solid #e1e8ed;
        border-radius: 3px;
    }
