html, body, form {
    height: 100%;
}

#wrapper {
    min-height: 100%;
    height: auto;
    height: 100%;
    margin-bottom: -50px;
}

#main {
    padding-top: 50px;
    width: 100%;
    overflow: hidden;
}

#sideEndElements {
    position: fixed;
    bottom: 0;
    width: 250px;
}

#footer-ghost {
    height: 50px;
}

footer {
    position: fixed;
    width: 100%;
    height: 50px;
    background-color: #808080;
    bottom: 0;
    right: 0;
    left: 0;
}

header {
    position: fixed;
    top: 0;
    height: 54px;
    width: 100%;
    background-color: #546fb0;
    z-index: 2;
}

/*Sidebar*/
#menu-1 {
    position: fixed;
}

#sideButton {
    position: fixed;
    top: 9px;
    left: 9px;
    border-style: none;
}

#iconSideButton {
    position: fixed;
    height: 36px;
    top: 9px;
    left: 9px;
}

#btnLogout {
    text-align: left;
    display: block;
    padding: 1em 1em 1em 1.2em;
    outline: none;
    background-color: #546fb0;
    box-shadow: inset 0 -1px rgba(0,0,0,0.2);
    color: #f3efe0;
    text-transform: uppercase;
    text-shadow: 0 0 1px rgba(255,255,255,0.1);
    letter-spacing: 1px;
    -webkit-transition: background 0.3s, box-shadow 0.3s;
    transition: background 0.3s, box-shadow 0.3s;
    border-style: none;
}

#st-trigger-effects {
    position: fixed;
    top: 0;
    left: 0;
}

#headerTotoCafe {
    position: fixed;
    padding-left: initial;
    color: white;
    font-size: 35px;
    height: 50px;
    left: 85px;
    top: 3px;
    text-decoration: solid;
}
